* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

header {
  display: flex;
}

.banner {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  background-color: #614e4e;
  padding: 100px 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #33333333;
  color: white;
  padding: 14px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #555;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #33333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.content {
  padding: 20px;
}
